<h1>New Score</h1>

<%= form_for(@score) do |s| %>

    <%= s.label :name %>
    <%= s.text_field :name %>
    
    <%= s.label :amount %>
    <%= s.text_field :amount %>
    
    <%= s.submit %>
    
<% end %>